 # Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# PyTorch cache (if using pre-trained models)
~/.cache/torch/
~/.torch/

# Checkpoints or model files
*.pt
*.pth

# Logs
log/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

#image format
*.jpg
*.png
*.jpeg

